@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600&display=swap');

/* General styles start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
    color: #123c69;
    background-color: #f7f9fb;
}


.wrapper {
    padding: 15px;
}

.wrapper h3 {
    text-align: center;
    color: #4056a1;
    font-size: 1.5rem;
    padding-bottom: 25px;
}


.main__list {
    padding: 0 5px 25px 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.main__item {
    margin-right: 15px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: #31708e;
}

p {
    text-align: justify;
    line-height: 30px;
    padding-bottom: 25px;
}


/* General styles end */






/* Header styles start */

.header__wrapper {
    padding-top: 20px;
}

.header__navigation-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: fixed;
    margin: 0;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #8fc1e3;
    font-size: 18px;
}

.header__navigation-list a {
    color: #eee2dc;
}

.header__navigation-item {
    padding: 10px;
    margin-right: 10px;
}

.header__navigation-item:last-child {
    margin-right: 0;
}

.header__navigation-item:hover,
.header__navigation-item:active,
.header__navigation-item:focus {
    opacity: .75;
}

.header__info {
    display: flex;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    border-radius: 50%;
}

h1 {
    font-size: 4rem;
}


.header__burger {
    display: none;
    /*убираем бургер с десктопа, чтобы он потом появлялся только при определенных условиях*/
    width: 40px;
    height: 28px;
    position: relative;
    top: 0;
    /*для того чтобы спозиционировать burger.line*/
}

.burger__line {
    display: block;
    /*так как span строчный элемент, а нам нужно его стилизовать */
    width: 100%;
    /*чтобы полоски растягивались на ширину всего бургера*/
    height: 2px;
    background-color: rgb(64, 93, 223);
    position: absolute;
    left: 0;
    /*нам необходимо их выровнять с какой-то стороны*/
}

/*позиционируем полоски в бургере, каждую отдельно*/
.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*будет ровно посередине*/
}

.burger__line_third {
    bottom: 0;
}



/* Header styles end */

/* Main styles start */
.main__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main__aside {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    margin-right: 30px;
}

.block__main {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    width: fit-content;
    padding: 10px;
    background-color: #f7f9fb;

}

.main__block-projects h3 {
    margin-top: 0;
    padding-bottom: 0px;
}

.main__block-experience li {
    list-style: disc;
}

.main__block-experience ul {
    margin-left: 25px;
}

.projects p {
    padding-top: 25px;
}


.project {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.project__image {
    background: url(./img/hacker-news.png) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
    width: 100%;
    height: 350px;
    border-radius: 1%;
    padding-bottom: 25px;
    overflow-y: hidden;
}

.project__effect {
    display: none;
    position: absolute;
    content: '';
    background: #31708e;
    opacity: 0.8;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    padding: 20px;
    color: #f7f9fb;
    z-index: 2;
    padding-bottom: 25px;
    border-radius: 1%;

}

.project__image:hover .project__effect {
    display: block;
    overflow: hidden;
}

.project__image-second {
    background: url(./img/convercy.png) center no-repeat;
}

.project__image-third {
    background: url(./img/taggame.png) no-repeat;
}

.project__image-example {
    background: url(./img/codeExample.png)no-repeat;
}

.projects__code {
    display: none;
}

/* Main styles end */

/* Footer styles start */
.footer__wrapper {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: #8fc1e3;
    color: #f7f9fb;
    width: 100vw;
    margin: 0 auto;
}

.footer p {
    padding: 0;
}

/* Footer styles end */


/* Media styles start */
@media screen and (max-width: 820px) {
    body {
        font-size: 14px;
    }

    .main__wrapper {
        display: flex;
        flex-direction: column;
    }


    h1 {
        font-size: 2rem;
    }

    .header__logo {
        width: 200px;
        height: 200px;
    }

    .block__main {
        width: 100%;
        height: 100%;
    }

    .main__aside {
        margin: 0;
        padding: 0;
    }

    .main__block-info-aside {
        width: 100%;
        height: 100%;
    }

    .main__block-projects h3 {
        padding-bottom: 25px;
    }

    .main__block-experience {
        padding-bottom: 25px;
    }

    .wrapper h3 {
        padding-top: 25px;
        font-size: 1.2rem;
    }

    .wrapper h3:first-child {
        padding-top: 0;
    }

    .project__image {
        display: none;
        padding-bottom: 0;
    }

    .projects p {
        padding: 0;
    }

    .projects__code {
        margin: 0;
        display: block;
    }

    li {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 730px) {
    .header__burger {
        display: block
    }

    .header__navigation {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f7f9fb;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .9s all linear;
    }

    .header__nav_active {
        transform: translateX(0);
        /* transition: .2s all linear; */
    }

    .header__navigation-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__navigation-item:last-child {
        margin-bottom: 0;
    }

    .header__navigation-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: right;

    }

    .header__link {
        font-size: 28px;
        line-height: 35px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 110000000;
        color: #f7f9fb;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #f7f9fb;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

}

@media screen and (max-width: 600px) {
    .header__logo {
        width: 100px;
        height: 100px;
        margin: 15px;
    }

    .header__info {
        flex-direction: column;
        padding-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    .projects__code {
        display: none;
    }
}






/* Media styles end */